#  Database 
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

#  API Key (opsional) 
# Isi untuk aktifkan auth, kosongkan untuk matikan auth
API_KEY=rahasia123

#  Redis 
REDIS_URL=redis://127.0.0.1:6379/0

#  CORS 
CORS_ORIGINS=http://localhost:3000
